body {
    font-family: Helvatica, Arial;
}
div
h4 {
    margin-top: 1rem;
    margin-bottom: 1.5em;
    font-size: 140%;
}
p{
    margin: 20px 0;
}
h3{
    font-size: 180%;
    margin-bottom: 0px;
}
h2 {
    display: none;
}
tr, th, td {
    padding: .5em;
    vertical-align: top;
}
.px-8 {
    border-bottom: 1px solid #dfdfdf;
}
#reportTable  {
    background: #f7f7f7;
}
.hideinpdf {
    display: none;
}
.hidden {
    display: none;
}